<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create An Account</title>
</head>
<body>
<h1>Register To Become A Proud Beer Customizer!</h1>
<form method="post" action="/register"></form>

<ul>
    <h2>Member Information</h2>
    <li>First Name</li>
    <input type="text" name="registerFirstName">
    <li>Last Name</li>
    <input type="text" name="registerLastName">
    <li>Birthdate</li>
    <input type="text" name="birthdate">

    <h2>Contact Information </h2>
    <li>Phone</li>
    <input type="text" name="phone">
    <li>Email</li>
    <input type="text" name="email">
    <h3>Home Address</h3>
    <input type="text" name="street">
    <li>City</li>
    <input type="text" name="city">
    <li>State</li>
    <input type="text" name="state">
    <li>Zip Code</li>
    <input type="text" name="zipCode">
</ul>

<input type="submit" value="Submit">
<!--
//Welcome Beer Enthusiast
-->

</body>
</html>